@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

#myLogo {
    width: 75px;
    height: 75px;
    object-fit: cover;
}

body {
    height: 100%;
}

 li, a, button {
    font-family:'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    font-weight: bold;
    margin: 0%;
}

#headerColor {
    background-color: #2A2B2A;
    margin: 0;
    padding: 0;
    width: 100%;
}

.logo {
    cursor: pointer;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #0088A9;
}

#ContactButton{
    padding: 9px 25px;
    background-color: #0088A9;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

h1, h2, h3 {
    font-family:'Montserrat', sans-serif;
}

h2 {
    line-height: 1em;
}

#previousWork {
    font-family:'Montserrat', sans-serif;
    text-align: center;
}

.tagline {
    padding-top: 5%;
    padding-bottom: 27%;
    padding-left: 2%;
    
}

#mainbody {
    background: #fff url(images/wave.svg) no-repeat bottom right;
    padding: 0%;
    margin: 0%;
} 

hr {
    height: 5px;
    background-color: #2A2B2A;
    margin: 0px;
    padding: 0px;
}

.darkmode--activated p, .darkmode--activated li {
    color: #000;
  } 

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.container img {
    height: 50%;
    justify-content: center;

}

.glide__arrows button {
    background-color: black;
    cursor: pointer;
}

.aboutme {
    display: flex;
  }

.flex-child {
    flex: 1;
    padding: 2em;
}